absl-py==0.15.0
accelerate==0.17.1
alabaster==0.7.12
appdirs==1.4.4
argcomplete
argon2-cffi==21.1.0
astunparse==1.6.3
async-generator==1.10
attrs
Babel==2.9.1
backcall 
backports.csv==1.0.7
beautifulsoup4 
bert-score==0.3.10
black==20.8b1
bleach==4.1.0
boto==2.49.0
bpemb==0.3.3
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.8
cheroot==8.6.0
CherryPy==18.6.1
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
configparser==5.1.0
conllu==4.4.1
crcmod 
cryptography
cycler==0.11.0
datasets==1.2.1
debugpy 
decorator
defusedxml
Deprecated==1.2.13
dill==0.3.4
docformatter==1.4
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.17.1
docx==0.2.4
editdistance==0.6.0
emoji==1.6.1
entrypoints==0.3
execnet==1.9.0
fasteners 
feedparser==6.0.8
filelock==3.4.0
flair==0.10
flake8==3.9.2
flatbuffers==1.12
fonttools==4.28.2
ftfy==6.0.3
future==0.18.2
gast==0.4.0
gcs-oauth2-boto-plugin
gdown==3.12.2
gensim==3.8.3
gitdb==4.0.9
GitPython==3.1.24
google-apitools
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
google-reauth 
grpcio==1.34.1
gsutil 
h5py==3.1.0
httplib2 
huggingface-hub==0.1.2
idna==3.3
imagesize==1.3.0
importlib-metadata==4.8.2
importlib-resources==5.4.0
iniconfig==1.1.1
ipykernel==6.5.1
ipython==7.30.0
ipython-genutils 
ipywidgets==7.6.5
isort==5.6.4
Janome==0.4.1
jaraco.classes==3.2.1
jaraco.collections==3.5.1
jaraco.context==4.1.1
jaraco.functools==3.5.0
jaraco.text==3.7.0
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonpatch==1.32
jsonpointer==2.2
jsonschema==4.2.1
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.4.0
jupyter-core
jupyterlab-pygments
jupyterlab-widgets==1.0.2
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
konoha==4.6.3
langdetect==1.0.9
language-tool-python==2.6.2
lemminflect==0.2.2
livereload==2.6.3
lru-dict==1.1.7
lxml==4.6.4
Markdown==3.3.6
MarkupSafe 
matplotlib==3.5.0
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune 
mock
monotonic==1.5
more-itertools==8.8.0
mpld3==0.3
multiprocess==0.70.12.2
mypy-extensions==0.4.3
mysqlclient==2.1.0
nb-conda==2.2.1
nb-conda-kernels
nbclient==0.5.9
nbconvert==6.3.0
nbformat 
nbsphinx==0.8.7
nest-asyncio 
nltk==3.6.5
notebook 
num2words==0.5.10
numpy==1.19.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauth2client==4.1.3
oauthlib==3.1.1
opt-einsum==3.3.0
overrides==3.1.0
packaging
pandas==1.3.4
pandocfilters==1.5.0
parso 
pathspec==0.9.0
pathtools==0.1.2
Pattern==3.6
pattern3==3.0.0
pbr 
pdfminer.six==20211012
pdfminer3k==1.3.4
peft==0.2.0
pexpect
pickleshare 
Pillow==8.4.0
pluggy==1.0.0
ply==3.11
portend==3.1.0
prometheus-client 
promise==2.3
prompt-toolkit==3.0.23
protobuf==3.19.1
psutil==5.8.0
ptyprocess
py==1.11.0
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser 
pyflakes==2.3.1
Pygments
PyMySQL==1.0.2
pyOpenSSL 
pyparsing==3.0.6
pyrsistent
PySocks==1.7.1
pytest==6.2.5
pytest-forked==1.3.0
pytest-xdist==2.4.0
python-dateutil
python-docx==0.8.11
pytz==2021.3
pyu2f 
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.1
QtPy==1.11.2
recommonmark==0.7.1
regex==2021.11.10
requests==2.26.0
requests-oauthlib==1.3.0
retry-decorator 
rsa 
sacremoses==0.0.46
scikit-learn==1.0.1
scipy==1.7.3
seaborn==0.11.2
segtok==1.5.10
Send2Trash 
sentence-transformers==2.1.0
sentencepiece==0.1.95
sentry-sdk==1.5.0
setuptools-scm==6.3.2
sgmllib3k==1.0.0
shortuuid==1.0.8
simplejson==3.17.6
six 
smart-open==5.2.1
smmap==5.0.0
snowballstemmer==2.2.0
SocksiPy-branch 
soupsieve==2.0.1
Sphinx==4.3.1
sphinx-autobuild==2021.3.14
sphinx-copybutton==0.4.0
sphinx-markdown-tables==0.0.15
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlitedict==1.7.0
stanza==1.3.0
subprocess32==3.5.4
tabulate==0.8.9
tempora==5.0.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4.1
tensorflow==2.5.0
tensorflow-estimator==2.5.0
tensorflow-hub==0.12.0
tensorflow-text==2.5.0
termcolor==1.1.0
terminado==0.12.1
terminaltables==3.1.0
testpath
textattack 
threadpoolctl==3.0.0
tokenizers==0.10.3
toml==0.10.2
tomli==1.2.2
torch==1.13.1
torchfile==0.1.0
torchvision==0.11.1
tornado 
tqdm==4.49.0
traitlets
transformers==4.12.5
tree-sitter==0.19.0
typed-ast==1.5.0
typing-extensions 
untokenize==0.1.1
urllib3==1.26.7
visdom==0.1.8.9
wandb==0.12.7
wcwidth
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.0.2
widgetsnbextension==3.5.2
Wikipedia-API==0.5.4
word2number==1.1
wrapt==1.12.1
xxhash==2.0.2
yaspin==2.1.0
zc.lockfile==2.0
zipp
